In [205]:
import pandas as pd
import numpy as np
import re
import recommender as r
import matplotlib.pyplot as plt
import seaborn as sns
import spacy
nlp = spacy.load('en_core_web_sm')

%matplotlib inline

df = pd.read_csv('user-item-interactions.csv')
df_content = pd.read_csv('articles_community.csv')
del df['Unnamed: 0']
del df_content['Unnamed: 0']

#df = df.fillna('no_email')

# make sure all articles from df are in df_content
df = pd.merge(df, df_content[['article_id']], on='article_id', how='inner')

#pre_data = dict(df.groupby(['email', 'article_id'])['article_id'].count())

#list_email = []
#list_article_id = []
#list_nb_interactions = []

#for key, val in pre_data.items():
    #list_email.append(key[0])
    #list_article_id.append(key[1])
    #list_nb_interactions.append(val)
    
#zipped_list = list(zip(list_email, list_article_id, list_nb_interactions))
#interaction_user = pd.DataFrame(zipped_list, columns=['email','article_id','nb_interactions'])

#df = pd.merge(df, interaction_user, on=['email', 'article_id'])

df_content = df_content.drop(labels='doc_status', axis=1)
df_content = df_content.drop_duplicates()

#df = df.replace('no_email', np.nan)

def email_mapper():
    coded_dict = dict()
    cter = 1
    email_encoded = []
    
    for val in df['email']:
        if val not in coded_dict:
            coded_dict[val] = cter
            cter+=1
        
        email_encoded.append(coded_dict[val])
    return email_encoded

email_encoded = email_mapper()
del df['email']
df['user_id'] = email_encoded

#dict_views = dict(df.article_id.value_counts())
#df['popularity_article_nb_views'] = df.article_id.map(dict_views)


#dict_interactions_total = dict(df.groupby('user_id')['article_id'].count())
#df['nb_interactions_total'] = df.user_id.map(dict_interactions_total)

#df['importance_article'] = np.where(df.nb_interactions_total > 19,
                                    #df.nb_interactions/df.nb_interactions_total,
                                    #np.nan)

# just for the module (later), I'll change the name doc_full_name to title
df_content['title'] = df_content['doc_full_name']
df_content = df_content.drop(labels='doc_full_name', axis=1)

# just for the module (later), I'll a column called date, set to 0
df['date'] = 0

df.article_id = df.article_id.astype('int64')
df_content.article_id = df_content.article_id.astype('int64')

In [206]:
df.head()

,article_id,title,user_id,date
0,593,upload files to ibm data science experience us...,1,0
1,593,upload files to ibm data science experience us...,2,0
2,593,upload files to ibm data science experience us...,3,0
3,593,upload files to ibm data science experience us...,4,0
4,593,upload files to ibm data science experience us...,3,0

In [207]:
df_content.head()

,doc_body,doc_description,article_id,title
0,Skip navigation Sign in SearchLoading...\r\n\r...,Detect bad readings in real time using Python ...,0,Detect Malfunctioning IoT Sensors with Streami...
1,No Free Hunch Navigation * kaggle.com\r\n\r\n ...,"See the forest, see the trees. Here lies the c...",1,Communicating data science: A guide to present...
2,☰ * Login\r\n * Sign Up\r\n\r\n * Learning Pat...,Here’s this week’s news in Data Science and Bi...,2,"This Week in Data Science (April 18, 2017)"
3,"DATALAYER: HIGH THROUGHPUT, LOW LATENCY AT SCA...",Learn how distributed DBs solve the problem of...,3,DataLayer Conference: Boost the performance of...
4,Skip navigation Sign in SearchLoading...\r\n\r...,This video demonstrates the power of IBM DataS...,4,Analyze NY Restaurant data using Spark in DSX

#### Engineering the feature Using NLP

In [208]:
def nlp_task(data):
    sent = data
    doc=nlp(sent)
    sub_toks = [tok for tok in doc if ((tok.dep_ == "compound") or (tok.dep_ == "dobj") or (tok.dep_ == "pobj")) ]
    insight_words = [str(i).lower() for i in sub_toks]
    insight_words = ','.join(insight_words)
    return insight_words

df_content['insights'] = df_content.title.apply(nlp_task)
df_content.head()

,doc_body,doc_description,article_id,title,insights
0,Skip navigation Sign in SearchLoading...\r\n\r...,Detect bad readings in real time using Python ...,0,Detect Malfunctioning IoT Sensors with Streami...,"detect,malfunctioning,iot,streaming,analytics"
1,No Free Hunch Navigation * kaggle.com\r\n\r\n ...,"See the forest, see the trees. Here lies the c...",1,Communicating data science: A guide to present...,"data,science,work"
2,☰ * Login\r\n * Sign Up\r\n\r\n * Learning Pat...,Here’s this week’s news in Data Science and Bi...,2,"This Week in Data Science (April 18, 2017)","data,science"
3,"DATALAYER: HIGH THROUGHPUT, LOW LATENCY AT SCA...",Learn how distributed DBs solve the problem of...,3,DataLayer Conference: Boost the performance of...,"datalayer,performance,database"
4,Skip navigation Sign in SearchLoading...\r\n\r...,This video demonstrates the power of IBM DataS...,4,Analyze NY Restaurant data using Spark in DSX,"analyze,ny,restaurant,spark,dsx"

##### Create list of insights

In [209]:
insights_list = []

for i in df_content.insights:
    try:
        insights_list.extend(i.split(','))
    except AttributeError:
        pass

#normalize
insights_list = [i.lower() for i in insights_list]

#remove all non character from the list
regex = re.compile('[^a-zA-Z]')
insights_list = [regex.sub('non_charac', i) for i in insights_list]
insights_list = set(insights_list)
insights_list.remove('non_charac')

##### Fill df_content with columns of insight

In [210]:
def split_insights(val):
    try:
        if val.find(insight) > -1:
            return 1
        else:
            return 0
    except AttributeError:
        return 0
    
for insight in insights_list:
    df_content[insight] = df_content['insights'].apply(split_insights)

In [211]:
# Remove some columns
df_content = df_content.drop(labels=['insights', 'doc_body', 'doc_description', ''], axis=1)

df_content.head()

,article_id,title,mapbox,learning,unlogged,rainbow,chat,action,replication,github,...,translating,overplotting,uploads,domain,nearest,analytic,queries,foreign,shopper,tbnon_charac
0,0,Detect Malfunctioning IoT Sensors with Streami...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,Communicating data science: A guide to present...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,"This Week in Data Science (April 18, 2017)",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,DataLayer Conference: Boost the performance of...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,Analyze NY Restaurant data using Spark in DSX,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [212]:
# number of times the user seen the article
pre_data = dict(df.groupby(['user_id', 'article_id'])['article_id'].count())

list_user = []
list_article_id = []
list_nb_interactions = []

for key, val in pre_data.items():
    list_user.append(key[0])
    list_article_id.append(key[1])
    list_nb_interactions.append(val)
    
zipped_list = list(zip(list_user, list_article_id, list_nb_interactions))
interaction_user = pd.DataFrame(zipped_list, columns=['user_id','article_id','nb_interactions_user_article'])

df = pd.merge(df, interaction_user, on=['user_id','article_id'])

# The nb interactions was shown implicitly with the number of rows
# Now I have information about the number of interactions by creating this column
# I can drop duplicated rows
df = df.drop_duplicates(keep='first')
df = df.reset_index().drop(labels='index', axis=1)
df.head()

,article_id,title,user_id,date,nb_interactions_user_article
0,593,upload files to ibm data science experience us...,1,0,1
1,593,upload files to ibm data science experience us...,2,0,1
2,593,upload files to ibm data science experience us...,3,0,2
3,593,upload files to ibm data science experience us...,4,0,1
4,593,upload files to ibm data science experience us...,5,0,1

In [217]:
# I think a user-user CF is more interested, because we can't have ratings and we can only recommend user based on what is most popular, or what 
# other user like this user have seen.

# so by now, I'll create a col called interacted full of 1
# so when the user-item matrix will be create, we will get a matrice with value 1 if a user has interacted with an article
# np.nan otherwise

df['interacted'] = 1
df.drop(labels='nb_interactions_user_article', axis=1, inplace=True)

In [218]:
df.head()

,article_id,title,user_id,date,interacted
0,593,upload files to ibm data science experience us...,1,0,1
1,593,upload files to ibm data science experience us...,2,0,1
2,593,upload files to ibm data science experience us...,3,0,1
3,593,upload files to ibm data science experience us...,4,0,1
4,593,upload files to ibm data science experience us...,5,0,1

#### Recommendations

In [219]:
rec = r.Recommender(df_items=df_content,
                    df_reviews=df,
                    item_name_colname='title',
                    user_id_colname='user_id',
                    item_id_colname='article_id',
                    rating_col_name='interacted',
                    date_col_name='date')

In [220]:
rec.fit(iters=500, latent_features=15)

Create User-Item matrix...
Train data with Funk Sigular Value Decomposition...
Iterations 		 Mean Squared Error
	1 		 7.375204701437693
	2 		 6.426689670323621
	3 		 5.659713493698421
	4 		 5.029644300247893
	5 		 4.504923247030703
	6 		 4.062712447914206
	7 		 3.686141350975733
	8 		 3.3625158139878772
	9 		 3.0821246730781353
	10 		 2.837426979892048
	11 		 2.622487459699768
	12 		 2.4325772401301977
	13 		 2.2638867329915504
	14 		 2.113315966625505
	15 		 1.978319278252435
	16 		 1.8567887405368255
	17 		 1.7469655807142763
	18 		 1.6473720987454201
	19 		 1.5567587841524855
	20 		 1.4740628333295769
	21 		 1.3983753118649231
	22 		 1.3289149395344153
	23 		 1.2650069973193385
	24 		 1.206066231324409
	25 		 1.151582901745242
	26 		 1.1011113259687602
	27 		 1.0542604140972789
	28 		 1.0106858070231086
	29 		 0.970083311751475
	30 		 0.9321833931614593
	31 		 0.8967465309670658
	32 		 0.8635592890320104
	33 		 0.8324309741367047
	34 		 0.8031907848098139
	35 		 0.77568536941843
	36 		 0.749776727483913
	37 		 0.7253404000020547
	38 		 0.7022639040415826
	39 		 0.6804453745670332
	40 		 0.6597923826617745
	41 		 0.640220904407819
	42 		 0.6216544188428474
	43 		 0.6040231168393255
	44 		 0.5872632055803985
	45 		 0.5713162956531234
	46 		 0.5561288597318967
	47 		 0.5416517534557794
	48 		 0.5278397904694273
	49 		 0.5146513647462079
	50 		 0.5020481142805138
	51 		 0.48999462105548885
	52 		 0.478458142887234
	53 		 0.4674083733374494
	54 		 0.45681722639053907
	55 		 0.44665864302203223
	56 		 0.436908417154466
	57 		 0.42754403881426856
	58 		 0.4185445525763102
	59 		 0.4098904296186646
	60 		 0.40156345191415604
	61 		 0.39354660726195495
	62 		 0.3858239940161161
	63 		 0.37838073450159365
	64 		 0.3712028962246999
	65 		 0.36427742008686625
	66 		 0.35759205489949025
	67 		 0.3511352975758998
	68 		 0.3448963384448723
	69 		 0.3388650111905284
	70 		 0.33303174697658244
	71 		 0.3273875323597433
	72 		 0.3219238706385193
	73 		 0.31663274632039023
	74 		 0.31150659242275563
	75 		 0.3065382603519249
	76 		 0.3017209921301194
	77 		 0.2970483947632082
	78 		 0.29251441656223054
	79 		 0.28811332524999345
	80 		 0.28383968770018514
	81 		 0.2796883511709185
	82 		 0.2756544259076916
	83 		 0.27173326900237293
	84 		 0.26792046940523084
	85 		 0.264211833996493
	86 		 0.26060337463233824
	87 		 0.25709129608785763
	88 		 0.2536719848263628
	89 		 0.2503419985306731
	90 		 0.24709805633754164
	91 		 0.2439370297214935
	92 		 0.24085593397895405
	93 		 0.23785192026759486
	94 		 0.23492226815976405
	95 		 0.23206437867209181
	96 		 0.22927576773665942
	97 		 0.2265540600817849
	98 		 0.22389698349318254
	99 		 0.2213023634285002
	100 		 0.21876811796042828
	101 		 0.21629225302554195
	102 		 0.2138728579577272
	103 		 0.2115081012868147
	104 		 0.2091962267843763
	105 		 0.20693554974014747
	106 		 0.20472445345367682
	107 		 0.20256138592701706
	108 		 0.20044485674530607
	109 		 0.19837343413301806
	110 		 0.19634574217463788
	111 		 0.19436045818919864
	112 		 0.19241631024901165
	113 		 0.19051207483350183
	114 		 0.18864657460977435
	115 		 0.18681867633204266
	116 		 0.18502728885270092
	117 		 0.18327136123820742
	118 		 0.1815498809835059
	119 		 0.1798618723190639
	120 		 0.17820639460505572
	121 		 0.176582540807553
	122 		 0.17498943605194578
	123 		 0.17342623624909528
	124 		 0.17189212679008267
	125 		 0.17038632130557985
	126 		 0.16890806048623036
	127 		 0.16745661096060094
	128 		 0.16603126422747308
	129 		 0.16463133563948232
	130 		 0.16325616343528215
	131 		 0.16190510781757292
	132 		 0.16057755007452953
	133 		 0.15927289174226575
	134 		 0.15799055380617474
	135 		 0.15672997593904775
	136 		 0.15549061577408427
	137 		 0.15427194821089593
	138 		 0.1530734647528716
	139 		 0.151894672874225
	140 		 0.15073509541522603
	141 		 0.14959427000419
	142 		 0.14847174850485048
	143 		 0.1473670964878593
	144 		 0.14627989272520686
	145 		 0.14520972870641516
	146 		 0.14415620817543906
	147 		 0.1431189466872775
	148 		 0.14209757118330268
	149 		 0.14109171958443353
	150 		 0.14010104040128774
	151 		 0.1391251923604956
	152 		 0.13816384404641308
	153 		 0.13721667355752187
	154 		 0.1362833681768038
	155 		 0.13536362405546062
	156 		 0.13445714590935554
	157 		 0.13356364672758994
	158 		 0.13268284749265796
	159 		 0.13181447691166173
	160 		 0.13095827115807984
	161 		 0.13011397362362306
	162 		 0.1292813346797173
	163 		 0.12846011144819589
	164 		 0.127650067580791
	165 		 0.1268509730470341
	166 		 0.12606260393021368
	167 		 0.12528474223102032
	168 		 0.12451717567856108
	169 		 0.12375969754842839
	170 		 0.12301210648751361
	171 		 0.12227420634528476
	172 		 0.12154580601125987
	173 		 0.12082671925840224
	174 		 0.12011676459221572
	175 		 0.11941576510526894
	176 		 0.11872354833695915
	177 		 0.11803994613827368
	178 		 0.11736479454136745
	179 		 0.11669793363374031
	180 		 0.11603920743684032
	181 		 0.11538846378891969
	182 		 0.11474555423195439
	183 		 0.11411033390249298
	184 		 0.1134826614262471
	185 		 0.11286239881631044
	186 		 0.11224941137483405
	187 		 0.1116435675980467
	188 		 0.11104473908447408
	189 		 0.11045280044623848
	190 		 0.10986762922333183
	191 		 0.10928910580072604
	192 		 0.10871711332823805
	193 		 0.10815153764302173
	194 		 0.10759226719460742
	195 		 0.10703919297238479
	196 		 0.10649220843542885
	197 		 0.10595120944461124
	198 		 0.1054160941968698
	199 		 0.10488676316160175
	200 		 0.10436311901906642
	201 		 0.10384506660074723
	202 		 0.1033325128315966
	203 		 0.10282536667408412
	204 		 0.10232353907400206
	205 		 0.10182694290795452
	206 		 0.1013354929324672
	207 		 0.10084910573467293
	208 		 0.1003676996845047
	209 		 0.09989119488834579
	210 		 0.09941951314410186
	211 		 0.0989525778976175
	212 		 0.09849031420041371
	213 		 0.09803264866869507
	214 		 0.0975795094435728
	215 		 0.09713082615248085
	216 		 0.09668652987172555
	217 		 0.096246553090143
	218 		 0.09581082967382258
	219 		 0.09537929483185997
	220 		 0.09495188508310912
	221 		 0.09452853822389494
	222 		 0.09410919329665357
	223 		 0.09369379055948783
	224 		 0.09328227145657031
	225 		 0.09287457858941384
	226 		 0.09247065568893689
	227 		 0.09207044758833073
	228 		 0.09167390019668414
	229 		 0.09128096047334594
	230 		 0.09089157640300821
	231 		 0.09050569697147476
	232 		 0.09012327214210433
	233 		 0.08974425283290216
	234 		 0.08936859089423861
	235 		 0.08899623908717906
	236 		 0.08862715106240206
	237 		 0.0882612813396898
	238 		 0.0878985852879697
	239 		 0.0875390191058992
	240 		 0.08718253980296457
	241 		 0.08682910518108587
	242 		 0.08647867381670962
	243 		 0.08613120504338236
	244 		 0.0857866589347734
	245 		 0.08544499628815116
	246 		 0.08510617860828919
	247 		 0.08477016809179128
	248 		 0.08443692761182678
	249 		 0.08410642070325426
	250 		 0.08377861154813743
	251 		 0.08345346496162713
	252 		 0.08313094637820218
	253 		 0.08281102183826745
	254 		 0.0824936579750911
	255 		 0.08217882200206243
	256 		 0.08186648170028976
	257 		 0.08155660540648482
	258 		 0.08124916200117588
	259 		 0.08094412089719505
	260 		 0.08064145202846223
	261 		 0.08034112583904117
	262 		 0.08004311327246703
	263 		 0.07974738576133938
	264 		 0.07945391521716232
	265 		 0.07916267402044218
	266 		 0.07887363501101259
	267 		 0.0785867714786089
	268 		 0.07830205715366048
	269 		 0.07801946619830348
	270 		 0.07773897319761407
	271 		 0.07746055315105038
	272 		 0.07718418146409457
	273 		 0.07690983394009367
	274 		 0.07663748677229552
	275 		 0.07636711653607152
	276 		 0.07609870018131996
	277 		 0.07583221502504826
	278 		 0.07556763874412797
	279 		 0.07530494936821835
	280 		 0.07504412527285083
	281 		 0.07478514517268005
	282 		 0.07452798811487922
	283 		 0.07427263347269712
	284 		 0.07401906093915574
	285 		 0.07376725052089397
	286 		 0.07351718253214795
	287 		 0.07326883758887448
	288 		 0.07302219660299619
	289 		 0.07277724077678624
	290 		 0.07253395159736994
	291 		 0.07229231083135756
	292 		 0.07205230051958755
	293 		 0.07181390297199257
	294 		 0.07157710076257763
	295 		 0.07134187672450615
	296 		 0.0711082139452962
	297 		 0.07087609576212278
	298 		 0.07064550575721924
	299 		 0.07041642775337954
	300 		 0.07018884580955961
	301 		 0.06996274421657457
	302 		 0.06973810749288366
	303 		 0.06951492038046918
	304 		 0.06929316784080368
	305 		 0.06907283505090264
	306 		 0.0688539073994587
	307 		 0.06863637048306374
	308 		 0.06842021010250074
	309 		 0.06820541225912562
	310 		 0.06799196315131384
	311 		 0.06777984917099242
	312 		 0.0675690569002325
	313 		 0.06735957310792164
	314 		 0.06715138474650172
	315 		 0.06694447894877435
	316 		 0.06673884302477226
	317 		 0.0665344644586945
	318 		 0.0663313309059053
	319 		 0.06612943018999327
	320 		 0.06592875029989125
	321 		 0.06572927938705352
	322 		 0.06553100576269094
	323 		 0.06533391789506238
	324 		 0.06513800440681959
	325 		 0.06494325407240287
	326 		 0.06474965581549548
	327 		 0.06455719870652225
	328 		 0.06436587196020152
	329 		 0.06417566493314107
	330 		 0.06398656712149141
	331 		 0.06379856815862998
	332 		 0.06361165781290748
	333 		 0.06342582598542493
	334 		 0.06324106270786255
	335 		 0.06305735814034483
	336 		 0.0628747025693534
	337 		 0.06269308640567399
	338 		 0.06251250018238633
	339 		 0.062332934552894514
	340 		 0.062154380288988786
	341 		 0.061976828278952456
	342 		 0.0618002695256974
	343 		 0.06162469514494053
	344 		 0.06145009636341343
	345 		 0.06127646451710154
	346 		 0.06110379104952402
	347 		 0.06093206751003954
	348 		 0.060761285552187676
	349 		 0.060591436932060816
	350 		 0.06042251350670055
	351 		 0.06025450723253576
	352 		 0.06008741016383701
	353 		 0.059921214451209306
	354 		 0.05975591234010569
	355 		 0.0595914961693718
	356 		 0.059427958369816014
	357 		 0.059265291462808165
	358 		 0.05910348805889656
	359 		 0.05894254085646147
	360 		 0.058782442640380135
	361 		 0.05862318628072864
	362 		 0.058464764731497046
	363 		 0.058307171029330536
	364 		 0.05815039829229883
	365 		 0.05799443971867804
	366 		 0.057839288585762254
	367 		 0.05768493824869032
	368 		 0.05753138213930016
	369 		 0.05737861376499379
	370 		 0.05722662670763279
	371 		 0.05707541462244536
	372 		 0.05692497123695729
	373 		 0.05677529034993696
	374 		 0.05662636583036544
	375 		 0.05647819161641732
	376 		 0.05633076171446431
	377 		 0.05618407019809261
	378 		 0.05603811120714112
	379 		 0.055892878946751795
	380 		 0.05574836768643997
	381 		 0.05560457175917752
	382 		 0.05546148556049514
	383 		 0.05531910354759607
	384 		 0.05517742023848829
	385 		 0.05503643021112868
	386 		 0.05489612810258348
	387 		 0.05475650860820224
	388 		 0.05461756648080453
	389 		 0.05447929652988477
	390 		 0.054341693620821155
	391 		 0.054204752674109666
	392 		 0.054068468664601195
	393 		 0.05393283662075449
	394 		 0.05379785162390464
	395 		 0.05366350880753774
	396 		 0.05352980335658275
	397 		 0.053396730506710746
	398 		 0.05326428554364927
	399 		 0.05313246380250637
	400 		 0.05300126066710366
	401 		 0.05287067156932354
	402 		 0.05274069198846445
	403 		 0.05261131745061101
	404 		 0.05248254352800388
	405 		 0.05235436583843433
	406 		 0.052226780044636295
	407 		 0.052099781853694
	408 		 0.051973367016459035
	409 		 0.05184753132697265
	410 		 0.05172227062190295
	411 		 0.05159758077998614
	412 		 0.051473457721480244
	413 		 0.05134989740762371
	414 		 0.051226895840107346
	415 		 0.051104449060546786
	416 		 0.050982553149975345
	417 		 0.05086120422832984
	418 		 0.050740398453958134
	419 		 0.05062013202312534
	420 		 0.050500401169530744
	421 		 0.050381202163834064
	422 		 0.05026253131318366
	423 		 0.050144384960758265
	424 		 0.05002675948531168
	425 		 0.04990965130072582
	426 		 0.0497930568555688
	427 		 0.049676972632665406
	428 		 0.049561395148663305
	429 		 0.04944632095361881
	430 		 0.04933174663057963
	431 		 0.049217668795175674
	432 		 0.04910408409521933
	433 		 0.048990989210308644
	434 		 0.04887838085143748
	435 		 0.04876625576060946
	436 		 0.04865461071046301
	437 		 0.04854344250389587
	438 		 0.04843274797369843
	439 		 0.048322523982190335
	440 		 0.0482127674208673
	441 		 0.04810347521004684
	442 		 0.04799464429852184
	443 		 0.0478862716632224
	444 		 0.047778354308875025
	445 		 0.04767088926767605
	446 		 0.047563873598961824
	447 		 0.047457304388887976
	448 		 0.04735117875011297
	449 		 0.04724549382148497
	450 		 0.04714024676773271
	451 		 0.04703543477916392
	452 		 0.04693105507136378
	453 		 0.04682710488490168
	454 		 0.0467235814850398
	455 		 0.04662048216144577
	456 		 0.046517804227910915
	457 		 0.04641554502207124
	458 		 0.04631370190513202
	459 		 0.04621227226159727
	460 		 0.04611125349900436
	461 		 0.046010643047658076
	462 		 0.04591043836037247
	463 		 0.04581063691221414
	464 		 0.045711236200250506
	465 		 0.045612233743300305
	466 		 0.04551362708168729
	467 		 0.045415413777000924
	468 		 0.04531759141185285
	469 		 0.04522015758964678
	470 		 0.045123109934341356
	471 		 0.045026446090224104
	472 		 0.04493016372168393
	473 		 0.04483426051298969
	474 		 0.04473873416806782
	475 		 0.04464358241028773
	476 		 0.0445488029822468
	477 		 0.044454393645560204
	478 		 0.04436035218064985
	479 		 0.04426667638654211
	480 		 0.04417336408066451
	481 		 0.04408041309864405
	482 		 0.04398782129410972
	483 		 0.043895586538501584
	484 		 0.04380370672087417
	485 		 0.04371217974770876
	486 		 0.04362100354272581
	487 		 0.0435301760467025
	488 		 0.04343969521728549
	489 		 0.04334955902881638
	490 		 0.04325976547215225
	491 		 0.04317031255448926
	492 		 0.04308119829919124
	493 		 0.042992420745618744
	494 		 0.04290397794896046
	495 		 0.04281586798006718
	496 		 0.04272808892528674
	497 		 0.04264063888630428
	498 		 0.042553515979980173
	499 		 0.04246671833819177
	500 		 0.04238024410768098

#### investigate the user-Item matrix created

In [221]:
rec.user_item_df.head()

article_id,0,2,4,8,9,12,14,15,16,18,...,1028,1030,1035,1038,1042,1043,1044,1047,1048,1050
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [229]:
df_user_similarity = rec.user_item_df.reset_index().replace(np.nan, 0)

In [234]:
def prep_get_similar_user():
    user_content = np.array(df_user_similarity.iloc[:,1:])
    user_content_transpose = np.transpose(user_content)
    dot_prod = user_content.dot(user_content_transpose)
    return dot_prod

dot_product_matrix_user = prep_get_similar_user()

In [ ]:
def find_similar

In [142]:
def info():
    user_item = rec.user_item_df
    nb_user = rec.n_users
    nb_items = rec.n_items
    item_name = rec.item_name_colname
    item_id = rec.item_id_colname
    u_mat = rec.user_mat
    i_mat = rec.item_mat
    user_high_rate = list(dict(user_item.mean(axis=1).sort_values(ascending=False).head(1)).keys())[0]
    movie_id_high_rate = list(dict(user_item.mean(axis=0).sort_values(ascending=False).head(1)).keys())[0]
    movie_name_high_rate = tuple(df_content[df_content[item_id] == movie_id_high_rate][item_name])[0]
    

    print(f"Nb of users: {nb_user}")
    print(f"Nb of items: {nb_items}")
    print(f"The user_id with the highest avg rating given: {user_high_rate}")
    print(f"The article_id with the highest avg rating received: {movie_id_high_rate}")
    print(f"The article name with the highest avg rating received: {movie_name_high_rate}")
    print(f"Shape of the U matrix: {u_mat.shape}")
    print(f"Shape of the V(transpose) matrix: {i_mat.shape}")

In [143]:
info()

Nb of users: 4258
Nb of items: 437
The user_id with the highest avg rating given: 954
The article_id with the highest avg rating received: 366
The article name with the highest avg rating received: Clustering: A Guide for the Perplexed
Shape of the U matrix: (4258, 15)
Shape of the V(transpose) matrix: (15, 437)

#### Imagine that we have an article that we want to promote, but we want the top 10 users who may interested by this offer, the movie id is 984.

In [158]:
def may_interested_by(item_id, top_n=10):
    pred = {}
    # iterate over each users and predict the rate it will give to this movie
    for user in user_item.index:
        pred[user] = rec.predict_rating(user_id=user, item_id=item_id)

    top_10_pairs = sorted(pred.items(), key=lambda x: x[1], reverse=True)[:top_n]
    top_10_user_ids = []

    for i in top_10_pairs:
        top_10_user_ids.append(i[0])

    return top_10_user_ids

In [159]:
may_interested_by(984, 10)

[3358, 3889, 1405, 3402, 4193, 4192, 1149, 2896, 750, 2974]

#### To make recommendation: given an item id we want to find similar items to this item. Similarity are found by computing the dot product of items with its transpose, the more the result of an item-item pair is high, the more they have in common

In [149]:
print('prepare dot matrice for recommendations...')

def prep_get_similar_items():
    item_content = np.array(df_content.iloc[:,2:])
    item_content_transpose = np.transpose(item_content)
    dot_prod = item_content.dot(item_content_transpose)
    return dot_prod

dot_product_matrix = prep_get_similar_items()
print('Ok')

prepare dot matrice for recommendations...
Ok

In [150]:
dot_product_matrix

array([[9, 1, 1, ..., 1, 0, 1],
       [1, 4, 3, ..., 1, 0, 1],
       [1, 3, 3, ..., 1, 0, 1],
       ...,
       [1, 1, 1, ..., 5, 0, 1],
       [0, 0, 0, ..., 0, 2, 0],
       [1, 1, 1, ..., 1, 0, 2]])

##### As we can see, maximum values are in the diagonal because the most similar item to an item is itself

In [185]:
def display_recommendations(rec_ids, rec_names, message):
    
    if type(rec_ids) == type(None):
        print(f"{message}")
    
    else:
        dict_id_name = dict(zip(rec_ids, rec_names))
        
        print(f"{message}")
        
        for key, val  in dict_id_name.items():
            print(f"ID items: {key}")
            print(f"Name: {val}\n")

***
#### Existing user

- Because it is an existing user, recommendations are made using FunkSVD (matrix factorisation), it will predict the rating it will give to all items and get back the items associate with the the top predicted rate. The dot_product_matrix will not be used but is requiered in case of you want to find a similar item to another instead of finding best item for a user.

In [186]:
rec_ids, rec_names, message = rec.make_recommendations(_id=3358,
                                                       dot_prod=dot_product_matrix,
                                                       _id_type='user',
                                                       rec_num=5)

display_recommendations(rec_ids, rec_names, message)

Glad to see you again! recommended for you:

ID items: 984
Name: Building a business that combines human experts and data science

ID items: 662
Name: Build Deep Learning Architectures With Neural Network Modeler

ID items: 763
Name: Load data into RStudio for analysis in DSX

ID items: 973
Name: Recent trends in recommender systems

ID items: 586
Name: The Data Processing Inequality

***
#### New User

- Because it is new user, recommendations are given using ranked based method, which simply return back the most popular items according to the ratings given by users, the number of ratings, the recency of the ratings. The dot_product_matrix will not be used but is requiered in case of you want to find a similar item to another instead of finding best item for a user.

In [187]:
rec_ids, rec_names, message = rec.make_recommendations(_id=8000,
                                                       dot_prod=dot_product_matrix,
                                                       _id_type='user',
                                                       rec_num=5)

display_recommendations(rec_ids, rec_names, message)

Hey, you are new here, this is for you:

ID items: 251
Name: Data science expert interview: Dez Blanchfield, Craig Brown, David Mathison, Jennifer Shin and Mike Tamir part 2

ID items: 1018
Name: Clustering: A Guide for the Perplexed

ID items: 977
Name: Rapidly build Machine Learning flows with DSX

ID items: 366
Name: Apache Spark as the New Engine of Genomics

ID items: 732
Name: 7 types of job profiles that makes you a Data Scientist

****
#### Existing items

- Here we enter an item id and would like to find similar items using the dot_product_matrix computed earlier.

In [188]:
rec_ids, rec_names, message = rec.make_recommendations(_id=100,
                                                       dot_prod=dot_product_matrix,
                                                       _id_type='item',
                                                       rec_num=5, window=1)

display_recommendations(rec_ids, rec_names, message)

Similar items for id:100, corresponding to Use data assets in a project using IBM Data Catalog:

ID items: 5
Name: Browsing PostgreSQL Data with Compose

ID items: 16
Name: Higher-order Logistic Regression for Large Datasets

ID items: 30
Name: How open API economy accelerates the growth of big data and analytics

ID items: 43
Name: Deep Learning With Tensorflow Course by Big Data University

ID items: 49
Name: GeoFile: Using OpenStreetMap Data in Compose PostgreSQL - Part II

#### Simulate an error by passing a non existing item id

In [189]:
rec_ids, rec_names, message = rec.make_recommendations(_id=187600,
                                                       dot_prod=dot_product_matrix,
                                                       _id_type='item',
                                                       rec_num=5, window=1)

display_recommendations(rec_ids, rec_names, message)

We can't make recommendation for this item, please makesure the data was updated with this item.