In [1]:
import pandas as pd
import numpy as np
import re
import recommender as r
import matplotlib.pyplot as plt
import seaborn as sns
import spacy
nlp = spacy.load('en_core_web_sm')

%matplotlib inline

df = pd.read_csv('user-item-interactions.csv')
df_content = pd.read_csv('articles_community.csv')
del df['Unnamed: 0']
del df_content['Unnamed: 0']

df = df.fillna('no_email')

# make sure all articles from df are in df_content
df = pd.merge(df, df_content[['article_id']], on='article_id', how='inner')

pre_data = dict(df.groupby(['email', 'article_id'])['article_id'].count())

list_email = []
list_article_id = []
list_nb_interactions = []

for key, val in pre_data.items():
    list_email.append(key[0])
    list_article_id.append(key[1])
    list_nb_interactions.append(val)
    
zipped_list = list(zip(list_email, list_article_id, list_nb_interactions))
interaction_user = pd.DataFrame(zipped_list, columns=['email','article_id','nb_interactions'])

df = pd.merge(df, interaction_user, on=['email', 'article_id'])

df_content = df_content.drop(labels='doc_status', axis=1)
df_content = df_content.drop_duplicates()

df = df.replace('no_email', np.nan)

def email_mapper():
    coded_dict = dict()
    cter = 1
    email_encoded = []
    
    for val in df['email']:
        if val not in coded_dict:
            coded_dict[val] = cter
            cter+=1
        
        email_encoded.append(coded_dict[val])
    return email_encoded

email_encoded = email_mapper()
del df['email']
df['user_id'] = email_encoded

#dict_views = dict(df.article_id.value_counts())
#df['popularity_article_nb_views'] = df.article_id.map(dict_views)


dict_interactions_total = dict(df.groupby('user_id')['article_id'].count())
df['nb_interactions_total'] = df.user_id.map(dict_interactions_total)

df['importance_article'] = np.where(df.nb_interactions_total > 19,
                                    df.nb_interactions/df.nb_interactions_total,
                                    np.nan)

# just for the module (later), I'll change the name doc_full_name to title
df_content['title'] = df_content['doc_full_name']
df_content = df_content.drop(labels='doc_full_name', axis=1)

# just for the module (later), I'll a column called date, set to 0
df['date'] = 0

df.article_id = df.article_id.astype('int64')
df_content.article_id = df_content.article_id.astype('int64')

In [2]:
df.head()

,article_id,title,nb_interactions,user_id,nb_interactions_total,importance_article,date
0,593,upload files to ibm data science experience us...,1,1,40,0.025,0
1,593,upload files to ibm data science experience us...,1,2,11,NaN,0
2,593,upload files to ibm data science experience us...,2,3,3,NaN,0
3,593,upload files to ibm data science experience us...,2,3,3,NaN,0
4,593,upload files to ibm data science experience us...,1,4,1,NaN,0

In [3]:
df_content.head()

,doc_body,doc_description,article_id,title
0,Skip navigation Sign in SearchLoading...\r\n\r...,Detect bad readings in real time using Python ...,0,Detect Malfunctioning IoT Sensors with Streami...
1,No Free Hunch Navigation * kaggle.com\r\n\r\n ...,"See the forest, see the trees. Here lies the c...",1,Communicating data science: A guide to present...
2,☰ * Login\r\n * Sign Up\r\n\r\n * Learning Pat...,Here’s this week’s news in Data Science and Bi...,2,"This Week in Data Science (April 18, 2017)"
3,"DATALAYER: HIGH THROUGHPUT, LOW LATENCY AT SCA...",Learn how distributed DBs solve the problem of...,3,DataLayer Conference: Boost the performance of...
4,Skip navigation Sign in SearchLoading...\r\n\r...,This video demonstrates the power of IBM DataS...,4,Analyze NY Restaurant data using Spark in DSX

#### Engineering the feature Using NLP

In [4]:
def nlp_task(data):
    sent = data
    doc=nlp(sent)
    sub_toks = [tok for tok in doc if ((tok.dep_ == "compound") or (tok.dep_ == "dobj") or (tok.dep_ == "pobj")) ]
    insight_words = [str(i).lower() for i in sub_toks]
    insight_words = ','.join(insight_words)
    return insight_words

df_content['insights'] = df_content.title.apply(nlp_task)
df_content.head()

,doc_body,doc_description,article_id,title,insights
0,Skip navigation Sign in SearchLoading...\r\n\r...,Detect bad readings in real time using Python ...,0,Detect Malfunctioning IoT Sensors with Streami...,"detect,malfunctioning,iot,streaming,analytics"
1,No Free Hunch Navigation * kaggle.com\r\n\r\n ...,"See the forest, see the trees. Here lies the c...",1,Communicating data science: A guide to present...,"data,science,work"
2,☰ * Login\r\n * Sign Up\r\n\r\n * Learning Pat...,Here’s this week’s news in Data Science and Bi...,2,"This Week in Data Science (April 18, 2017)","data,science"
3,"DATALAYER: HIGH THROUGHPUT, LOW LATENCY AT SCA...",Learn how distributed DBs solve the problem of...,3,DataLayer Conference: Boost the performance of...,"datalayer,performance,database"
4,Skip navigation Sign in SearchLoading...\r\n\r...,This video demonstrates the power of IBM DataS...,4,Analyze NY Restaurant data using Spark in DSX,"analyze,ny,restaurant,spark,dsx"

##### Create list of insights

In [5]:
insights_list = []

for i in df_content.insights:
    try:
        insights_list.extend(i.split(','))
    except AttributeError:
        pass

#normalize
insights_list = [i.lower() for i in insights_list]

#remove all non character from the list
regex = re.compile('[^a-zA-Z]')
insights_list = [regex.sub('non_charac', i) for i in insights_list]
insights_list = set(insights_list)
insights_list.remove('non_charac')

##### Fill df_content with columns of insight

In [6]:
def split_insights(val):
    try:
        if val.find(insight) > -1:
            return 1
        else:
            return 0
    except AttributeError:
        return 0
    
for insight in insights_list:
    df_content[insight] = df_content['insights'].apply(split_insights)

In [7]:
df_content.head()

,doc_body,doc_description,article_id,title,insights,,translating,campaign,ops,brewery,...,hashtags,apps,foundational,action,artificial,adversarial,summit,prem,serverless,datasets
0,Skip navigation Sign in SearchLoading...\r\n\r...,Detect bad readings in real time using Python ...,0,Detect Malfunctioning IoT Sensors with Streami...,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,No Free Hunch Navigation * kaggle.com\r\n\r\n ...,"See the forest, see the trees. Here lies the c...",1,Communicating data science: A guide to present...,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,☰ * Login\r\n * Sign Up\r\n\r\n * Learning Pat...,Here’s this week’s news in Data Science and Bi...,2,"This Week in Data Science (April 18, 2017)",0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"DATALAYER: HIGH THROUGHPUT, LOW LATENCY AT SCA...",Learn how distributed DBs solve the problem of...,3,DataLayer Conference: Boost the performance of...,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Skip navigation Sign in SearchLoading...\r\n\r...,This video demonstrates the power of IBM DataS...,4,Analyze NY Restaurant data using Spark in DSX,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
# Remove some columns
df_content = df_content.drop(labels=['insights', 'doc_body', 'doc_description', ''], axis=1)
df = df.drop(labels=['nb_interactions', 'nb_interactions_total'], axis=1)

#### Recommendations

In [139]:
rec = r.Recommender(df_items=df_content,
                    df_reviews=df,
                    item_name_colname='title',
                    user_id_colname='user_id',
                    item_id_colname='article_id',
                    rating_col_name='importance_article',
                    date_col_name='date')

In [140]:
rec.fit(iters=200, latent_features=15)

Create User-Item matrix...
Train data with Funk Sigular Value Decomposition...
Iterations 		 Mean Squared Error
	1 		 13.012184135500059
	2 		 12.057805437759072
	3 		 11.211637970456854
	4 		 10.457326576568285
	5 		 9.7815609964612
	6 		 9.173410199553405
	7 		 8.623822262571538
	8 		 8.125244001829591
	9 		 7.671328423152714
	10 		 7.256707381182806
	11 		 6.876813221918509
	12 		 6.527737614322864
	13 		 6.206118897140071
	14 		 5.90905149203967
	15 		 5.634012539623515
	16 		 5.378802086040513
	17 		 5.141494011225916
	18 		 4.920395532237928
	19 		 4.7140135976223725
	20 		 4.521026854132409
	21 		 4.340262146090047
	22 		 4.170674722255931
	23 		 4.0113314913171525
	24 		 3.8613967967642537
	25 		 3.720120283711936
	26 		 3.5868265105999066
	27 		 3.4609060225605086
	28 		 3.341807654236752
	29 		 3.229031870778695
	30 		 3.122124988785418
	31 		 3.02067414574675
	32 		 2.92430290835504
	33 		 2.832667427905891
	34 		 2.745453065665916
	35 		 2.6623714231785924
	36 		 2.583157722489336
	37 		 2.50756848959099
	38 		 2.4353795013285264
	39 		 2.3663839618074403
	40 		 2.300390879225275
	41 		 2.2372236181505247
	42 		 2.1767186057418813
	43 		 2.1187241733395497
	44 		 2.063099517357054
	45 		 2.0097137655303636
	46 		 1.9584451363983764
	47 		 1.9091801814459717
	48 		 1.8618131006779686
	49 		 1.8162451235425532
	50 		 1.772383948116231
	51 		 1.7301432323199701
	52 		 1.689442131681
	53 		 1.6502048787999863
	54 		 1.612360400246138
	55 		 1.5758419670925634
	56 		 1.5405868757328658
	57 		 1.5065361559945534
	58 		 1.47363430389384
	59 		 1.4418290366651212
	60 		 1.411071067952557
	61 		 1.3813139012753253
	62 		 1.3525136400759137
	63 		 1.3246288128357764
	64 		 1.2976202118976445
	65 		 1.2714507447714019
	66 		 1.246085296822318
	67 		 1.2214906043494622
	68 		 1.1976351371586493
	69 		 1.174488989820931
	70 		 1.1520237808845821
	71 		 1.130212559377866
	72 		 1.1090297180014905
	73 		 1.0884509124652935
	74 		 1.0684529864734786
	75 		 1.0490139019074884
	76 		 1.030112673795971
	77 		 1.0117293096975766
	78 		 0.9938447531552195
	79 		 0.9764408309098439
	80 		 0.9595002035887062
	81 		 0.9430063196073204
	82 		 0.9269433720461168
	83 		 0.9112962582829085
	84 		 0.8960505421801916
	85 		 0.8811924186427909
	86 		 0.8667086803763768
	87 		 0.8525866866907734
	88 		 0.8388143342046324
	89 		 0.8253800293191281
	90 		 0.8122726623387861
	91 		 0.7994815831269091
	92 		 0.7869965781917498
	93 		 0.7748078491073832
	94 		 0.7629059921805896
	95 		 0.7512819792815043
	96 		 0.7399271397620489
	97 		 0.7288331433916205
	98 		 0.7179919842446706
	99 		 0.7073959654795722
	100 		 0.6970376849523866
	101 		 0.6869100216132844
	102 		 0.6770061226369736
	103 		 0.6673193912418363
	104 		 0.6578434751557263
	105 		 0.6485722556892026
	106 		 0.63949983737957
	107 		 0.6306205381717778
	108 		 0.6219288801042424
	109 		 0.6134195804700314
	110 		 0.605087543425614
	111 		 0.5969278520212958
	112 		 0.588935760629124
	113 		 0.5811066877456079
	114 		 0.5734362091480094
	115 		 0.5659200513844116
	116 		 0.558554085578902
	117 		 0.5513343215344371
	118 		 0.5442569021170709
	119 		 0.5373180979061724
	120 		 0.5305143020962018
	121 		 0.523842025636587
	122 		 0.5172978925969091
	123 		 0.5108786357455031
	124 		 0.5045810923302307
	125 		 0.4984022000508302
	126 		 0.49233899321289715
	127 		 0.4863885990541683
	128 		 0.4805482342342148
	129 		 0.4748152014793049
	130 		 0.46918688637449946
	131 		 0.46366075429570514
	132 		 0.4582343474745692
	133 		 0.4529052821897559
	134 		 0.4476712460782945
	135 		 0.4425299955611859
	136 		 0.4374793533776383
	137 		 0.43251720622279066
	138 		 0.4276415024838556
	139 		 0.42285025007004834
	140 		 0.4181415143318425
	141 		 0.4135134160653322
	142 		 0.40896412959774586
	143 		 0.40449188095028743
	144 		 0.400094946074797
	145 		 0.3957716491607742
	146 		 0.3915203610095822
	147 		 0.38733949747278884
	148 		 0.38322751795172116
	149 		 0.37918292395550907
	150 		 0.3752042577150085
	151 		 0.37129010085011066
	152 		 0.367439073088097
	153 		 0.36364983103079507
	154 		 0.3599210669684214
	155 		 0.35625150773805336
	156 		 0.3526399136248704
	157 		 0.34908507730424654
	158 		 0.34558582282304207
	159 		 0.34214100461835983
	160 		 0.3387495065722405
	161 		 0.3354102411007549
	162 		 0.33212214827608794
	163 		 0.3288841949802163
	164 		 0.32569537408891125
	165 		 0.3225547036847983
	166 		 0.31946122629829504
	167 		 0.3164140081753055
	168 		 0.313412138570578
	169 		 0.31045472906570504
	170 		 0.3075409129107817
	171 		 0.30466984438877576
	172 		 0.3018406982017218
	173 		 0.29905266887787385
	174 		 0.29630497019899826
	175 		 0.293596834647032
	176 		 0.2909275128693452
	177 		 0.28829627316188744
	178 		 0.28570240096956645
	179 		 0.28314519840314417
	180 		 0.2806239837720846
	181 		 0.27813809113270793
	182 		 0.2756868698510957
	183 		 0.2732696841801944
	184 		 0.2708859128505806
	185 		 0.26853494867439337
	186 		 0.26621619816194114
	187 		 0.26392908115052205
	188 		 0.2616730304450094
	189 		 0.2594474914697782
	190 		 0.2572519219315617
	191 		 0.2550857914928454
	192 		 0.25294858145541915
	193 		 0.2508397844537309
	194 		 0.24875890415768034
	195 		 0.2467054549845479
	196 		 0.2446789618197019
	197 		 0.24267895974580508
	198 		 0.2407049937802128
	199 		 0.23875661862027736
	200 		 0.23683339839629644

#### investigate the user-Item matrix created

In [141]:
rec.user_item_df.head()

article_id,0,2,4,8,9,12,14,15,16,18,...,1028,1030,1035,1038,1042,1043,1044,1047,1048,1050
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,0.025,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.025,NaN,NaN,0.025,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [142]:
def info():
    user_item = rec.user_item_df
    nb_user = rec.n_users
    nb_items = rec.n_items
    item_name = rec.item_name_colname
    item_id = rec.item_id_colname
    u_mat = rec.user_mat
    i_mat = rec.item_mat
    user_high_rate = list(dict(user_item.mean(axis=1).sort_values(ascending=False).head(1)).keys())[0]
    movie_id_high_rate = list(dict(user_item.mean(axis=0).sort_values(ascending=False).head(1)).keys())[0]
    movie_name_high_rate = tuple(df_content[df_content[item_id] == movie_id_high_rate][item_name])[0]
    

    print(f"Nb of users: {nb_user}")
    print(f"Nb of items: {nb_items}")
    print(f"The user_id with the highest avg rating given: {user_high_rate}")
    print(f"The article_id with the highest avg rating received: {movie_id_high_rate}")
    print(f"The article name with the highest avg rating received: {movie_name_high_rate}")
    print(f"Shape of the U matrix: {u_mat.shape}")
    print(f"Shape of the V(transpose) matrix: {i_mat.shape}")

In [143]:
info()

Nb of users: 4258
Nb of items: 437
The user_id with the highest avg rating given: 954
The article_id with the highest avg rating received: 366
The article name with the highest avg rating received: Clustering: A Guide for the Perplexed
Shape of the U matrix: (4258, 15)
Shape of the V(transpose) matrix: (15, 437)

#### Imagine that we have an article that we want to promote, but we want the top 10 users who may interested by this offer, the movie id is 984.

In [158]:
def may_interested_by(item_id, top_n=10):
    pred = {}
    # iterate over each users and predict the rate it will give to this movie
    for user in user_item.index:
        pred[user] = rec.predict_rating(user_id=user, item_id=item_id)

    top_10_pairs = sorted(pred.items(), key=lambda x: x[1], reverse=True)[:top_n]
    top_10_user_ids = []

    for i in top_10_pairs:
        top_10_user_ids.append(i[0])

    return top_10_user_ids

In [159]:
may_interested_by(984, 10)

[3358, 3889, 1405, 3402, 4193, 4192, 1149, 2896, 750, 2974]

#### To make recommendation: given an item id we want to find similar items to this item. Similarity are found by computing the dot product of items with its transpose, the more the result of an item-item pair is high, the more they have in common

In [149]:
print('prepare dot matrice for recommendations...')

def prep_get_similar_items():
    item_content = np.array(df_content.iloc[:,2:])
    item_content_transpose = np.transpose(item_content)
    dot_prod = item_content.dot(item_content_transpose)
    return dot_prod

dot_product_matrix = prep_get_similar_items()
print('Ok')

prepare dot matrice for recommendations...
Ok

In [150]:
dot_product_matrix

array([[9, 1, 1, ..., 1, 0, 1],
       [1, 4, 3, ..., 1, 0, 1],
       [1, 3, 3, ..., 1, 0, 1],
       ...,
       [1, 1, 1, ..., 5, 0, 1],
       [0, 0, 0, ..., 0, 2, 0],
       [1, 1, 1, ..., 1, 0, 2]])

##### As we can see, maximum values are in the diagonal because the most similar item to an item is itself

In [185]:
def display_recommendations(rec_ids, rec_names, message):
    
    if type(rec_ids) == type(None):
        print(f"{message}")
    
    else:
        dict_id_name = dict(zip(rec_ids, rec_names))
        
        print(f"{message}")
        
        for key, val  in dict_id_name.items():
            print(f"ID items: {key}")
            print(f"Name: {val}\n")

***
#### Existing user

- Because it is an existing user, recommendations are made using FunkSVD (matrix factorisation), it will predict the rating it will give to all items and get back the items associate with the the top predicted rate. The dot_product_matrix will not be used but is requiered in case of you want to find a similar item to another instead of finding best item for a user.

In [186]:
rec_ids, rec_names, message = rec.make_recommendations(_id=3358,
                                                       dot_prod=dot_product_matrix,
                                                       _id_type='user',
                                                       rec_num=5)

display_recommendations(rec_ids, rec_names, message)

Glad to see you again! recommended for you:

ID items: 984
Name: Building a business that combines human experts and data science

ID items: 662
Name: Build Deep Learning Architectures With Neural Network Modeler

ID items: 763
Name: Load data into RStudio for analysis in DSX

ID items: 973
Name: Recent trends in recommender systems

ID items: 586
Name: The Data Processing Inequality

***
#### New User

- Because it is new user, recommendations are given using ranked based method, which simply return back the most popular items according to the ratings given by users, the number of ratings, the recency of the ratings. The dot_product_matrix will not be used but is requiered in case of you want to find a similar item to another instead of finding best item for a user.

In [187]:
rec_ids, rec_names, message = rec.make_recommendations(_id=8000,
                                                       dot_prod=dot_product_matrix,
                                                       _id_type='user',
                                                       rec_num=5)

display_recommendations(rec_ids, rec_names, message)

Hey, you are new here, this is for you:

ID items: 251
Name: Data science expert interview: Dez Blanchfield, Craig Brown, David Mathison, Jennifer Shin and Mike Tamir part 2

ID items: 1018
Name: Clustering: A Guide for the Perplexed

ID items: 977
Name: Rapidly build Machine Learning flows with DSX

ID items: 366
Name: Apache Spark as the New Engine of Genomics

ID items: 732
Name: 7 types of job profiles that makes you a Data Scientist

****
#### Existing items

- Here we enter an item id and would like to find similar items using the dot_product_matrix computed earlier.

In [188]:
rec_ids, rec_names, message = rec.make_recommendations(_id=100,
                                                       dot_prod=dot_product_matrix,
                                                       _id_type='item',
                                                       rec_num=5, window=1)

display_recommendations(rec_ids, rec_names, message)

Similar items for id:100, corresponding to Use data assets in a project using IBM Data Catalog:

ID items: 5
Name: Browsing PostgreSQL Data with Compose

ID items: 16
Name: Higher-order Logistic Regression for Large Datasets

ID items: 30
Name: How open API economy accelerates the growth of big data and analytics

ID items: 43
Name: Deep Learning With Tensorflow Course by Big Data University

ID items: 49
Name: GeoFile: Using OpenStreetMap Data in Compose PostgreSQL - Part II

#### Simulate an error by passing a non existing item id

In [189]:
rec_ids, rec_names, message = rec.make_recommendations(_id=187600,
                                                       dot_prod=dot_product_matrix,
                                                       _id_type='item',
                                                       rec_num=5, window=1)

display_recommendations(rec_ids, rec_names, message)

We can't make recommendation for this item, please makesure the data was updated with this item.